@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Experience Section-->
<section>
    <h1 style="text-align: center; font-weight: bold;">Get to Know Joel Hilton!</h1>
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h2 class="text-primary fw-bolder mb-0">Experience</h2>
    </div>
    <!-- Experience Card 1-->
    <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
            <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                        <div class="text-primary fw-bolder mb-2">Present</div>
                        <div class="small fw-bolder">Moview Reviewer</div>
                        <div class="small text-muted">ClearPlay</div>
                    </div>
                </div>
                <div class="col-lg-8"> <div>Contracts as a movie reviewer for ClearPlay. He also performs regularly at <a href="https://www.qwcomedy.com/">Quick Wits</a></div></div>
            </div>
        </div>
    </div>
    <!-- Experience Card 2-->
    <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
            <div class="row align-items-center gx-5">
                <div class="col-lg-8">
                    <div class="bg-light p-4 rounded-4 d-flex align-items-center">
                        <div>
                            <div class="text-primary fw-bolder mb-2">Present</div>
                            <div class="small fw-bolder">Podcaster</div>
                            <div class="small text-muted">BaconSale</div>
                            <div>Does weekly podcast called <a href="https://baconsale.com/">Baconsale</a> about films and pop culture. Check it out!</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-start mb-4 mb-lg-0">
                    <a href="https://baconsale.com/">
                        <img height="300px" width="300px" src="~/assets/baconsalekate.jpg" alt="..." class="ms-3" />
                    </a>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- Education Section-->
<section>
    <h2 class="text-secondary fw-bolder mb-4">Education</h2>
    <!-- Education Card 1-->
    <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
            <div class="row align-items-center gx-5">
                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                    <div class="bg-light p-4 rounded-4">
                        <div class="text-secondary fw-bolder mb-2">A while Back</div>
                        <div class="mb-2">
                            <div class="small fw-bolder">BYU</div>
                            <div class="small text-muted">Provo, UT</div>
                        </div>
                        <div class="fst-italic">
                            <div class="small text-muted">Minor</div>
                            <div class="small text-muted">Film Studies</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8"><div>That's all you gotta know.</div></div>
            </div>
        </div>
    </div>
</section>