@model Collection

<!-- Projects Section-->
<section class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Collection</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">Film Information</h2>
                                <p>Please fill out the film information below. </p>

                                <form class="movie-form" method="post">
                                    <!-- Category -->
                                    <div class="form-group">
                                        <label asp-for=CategoryId>Category</label>
                                        <select asp-for="CategoryId" required>
                                            <option value="">Choose Category</option>
                                            @foreach (Categories category in ViewBag.Categories)
                                            {
                                                <option value="@category.CategoryId">@category.CategoryName</option>
                                            }
                                        </select>
                                    </div>

                                    <!-- Title -->
                                    <div class="form-group">
                                        <label asp-for=Title>Title</label>
                                        <input asp-for=Title id="title" class="form-control" required />
                                        <div class="invalid-feedback">Title is required.</div>
                                    </div>

                                    <!-- Year -->
                                    <div class="form-group">
                                        <label asp-for=Year>Year</label>
                                        <input asp-for=Year id="year" class="form-control" required min="1888" />
                                        <div class="invalid-feedback">Year is required.</div>
                                    </div>

                                    <!-- Director -->
                                    <div class="form-group">
                                        <label asp-for=Director>Director</label>
                                        <input asp-for=Director id="director" class="form-control" />
                                    </div>

                                    <!-- Rating -->
                                    <div class="form-group">
                                        <label asp-for=Rating>Rating</label>
                                        <select asp-for=Rating class="form-control">
                                            <option value="G">G</option>
                                            <option value="PG">PG</option>
                                            <option value="PG-13">PG-13</option>
                                            <option value="R">R</option>
                                        </select>
                                    </div>

                                    <!-- Edited -->
                                    <div class="form-group">
                                        <label asp-for=Edited>Edited</label>
                                        <select asp-for=Edited id="edited" class="form-control" required>
                                            <option value="">Choose</option>
                                            <option value="1">Yes</option>>
                                            <option value="0">No</option>
                                        </select>
                                        <div class="invalid-feedback">Edited is required.</div>
                                    </div>

                                    <!-- Lent To -->
                                    <div class="form-group">
                                        <label asp-for=LentTo>Lent To</label>
                                        <input asp-for=LentTo id="LentTo" class="form-control">
                                    </div>

                                    <!-- CopiedToPlex -->
                                    <div class="form-group">
                                        <label asp-for=CopiedToPlex>Copied To Plex</label>
                                        <select asp-for=CopiedToPlex id="CopiedToPlex" class="form-control" required>
                                            <option value="">Choose</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                        <div class="invalid-feedback">Copied To Plex is required.</div>
                                    </div>

                                    <!-- Notes -->
                                    <div class="form-group">
                                        <label asp-for=Notes>Notes</label>
                                        <input asp-for=Notes id="Notes" class="form-control" maxlength="25" />
                                    </div>


                                    <button type="submit" style="background-color: #30BDFE; color: white; padding: 10px 20px; border: none; border-radius: 4px;">Add to Collection</button>
                                    </form>
    
                            </div>
                            <img width="370px" src="~/assets/collection.jpg" alt="..." />
                        </div>
                    </div>
                </div>
</section>