.table thead th {
    font-weight: bold;
    color: white;
}

.table tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

.table tbody tr:nth-child(even) {
    background-color: white; 
}

.table tbody tr:hover {
    background-color: #e5e5e5;
}

.table th,
.table td {
    padding: 8px;
    vertical-align: middle;
}

.btn-group .btn {
    margin-right: 5px;
}

.btn-light-blue {
    background-color: #87CEFA; 
    color: white;
    border-color: #87CEFA; 
}

.btn-light-blue:hover {
        background-color: #5bc0de; 
        border-color: #46b8da;
} 



html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.movie-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

    input[type="text"]:focus,
    select:focus {
        border-color: #007bff;
        outline: none;
    }
